/* Active Admin CSS */
// Reset Away!
body.active_admin {
  @include global-reset;
}

.header { 
	background: #eff2f5 !important; 
	margin: 0px !important; 
	position: relative;	
	border-top: 1px solid #fff !important; 
	height:27px !important;
	margin-top:15px !important;
	padding:20px !important;
	-moz-border-radius: 3px !important;
	-webkit-border-radius: 3px !important;
	border-radius: 3px !important;
}

body{
  background: url(../assets/color-strip.jpg) no-repeat;background-size:100% 20px !important;
}


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	background: transparent;
	border: 0;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}
